name: health_indexer_app
description: A new Flutter project for Health Indexer.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  http: ^1.1.0
  shared_preferences: ^2.2.2
  flutter_map: ^6.0.0
  latlong2: ^0.9.0
  image_picker: ^1.0.4
  intl: ^0.18.1
  google_fonts: ^6.1.0
  url_launcher: ^6.1.14
  geolocator: ^10.1.0
  flutter_dotenv: ^5.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
  assets:
    - .env
